\smart-pacer_env
\random_files
data/q-table/old_qtables
data/history-qtraining
data/figures
training_logs/old logs/
data/old_data
data/qtraining_DEF_backup
data/qtraining_runs_20250620_episodes500
data/qtraining_runs_20250620_episodes1000
data/qtraining_runs_20250620_episodes2000
data/training_log_DEF_20062025
data/wrong-q-tables
data/video/wrong-videos
data/500_episodi.zip
data/1000_episodi.zip